<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group>
        <node pkg="canis_kinematics" type="leg_inverse_kinematics" name="leg_inverse_kinematics_node"/>
        <node pkg="canis_locomotion" type="gait_executor" name="gait_executor_node"/>
        <node pkg="canis_locomotion" type="gait_planner" name="gait_planner_node"/>
    </group>
</launch>
